node_modules
.next
out
.env
.env.local
*.tsbuildinfo
next-env.d.ts

.next-production
.next-release
.next-atmosphere
.next-night
.next-editorial
.next-interlude
.next-polish/
.next-hero/
.next-fluid/
.next-access/
.next-signature/
.next-contrast/
.next-curated/
.next-lab/
.next-lab-final/
.next-lab-dev/
.next-product/
.next-notes/

# all alternate next build dirs
.next-*
